body {
  background-color: rgb(219, 219, 219);
margin: 0;
}

#toolbar {
    display: grid;
    grid-template-columns: 75px repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 50px;
  }

  #toolbar a {
    text-align: center;
    text-decoration: none;
    color: #333333;
    margin-right: 20px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  #toolbar a.active {
    color: #0087ca;
  }
  
  #home-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    border: 2px solid black;
  }

  #home-icon:hover {
    cursor: hand;
  }
  
  #footer {
    position: fixed;
    width: 100%;
    height: 0px;
    background-color: black; 
    bottom: 0; 
    left: 0;
}

#text-container {
    position: absolute;
    top: 0;
    padding: 10;
    padding-bottom: 21;
    right: 8;
    text-align: center;
   background-color:  #429dca;
height: 100%;
width: 24%;
border: 1px solid black;
}

#imageAndText {
  position: relative;
  height: 84%;
  margin-left: 10px;
  margin-top: 5px;
}

#text-container p {
    color: rgb(255, 255, 255);
    font-size: 23.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#text-container h1 {
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
}

#hover-underline-animation {
    display: inline-block;
    position: relative;
    color: 
  #0087ca;
  transition: color 0.25s ease-out;
  }

  #hover-underline-animation:hover {
    color: #0087ca;
}
  
  #hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: 
  #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   
  }
  
  #hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }

  #code-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  #code-display {
    font-family: monospace;
    font-size: 16px;
  }
  #button-menu {
    text-align: center;
  }
  .file-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
