body {
  background-color: rgb(219, 219, 219);
margin: 0;
}

#toolbar {
    display: grid;
    grid-template-columns: 75px repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 50px;
  }

  #toolbar a {
    text-align: center;
    text-decoration: none;
    color: #333333;
    margin-right: 20px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  #toolbar a.active {
    color: #0087ca;
  }
  
  #home-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    border: 2px solid black;
  }

  #home-icon:hover {
    cursor: hand;
  }
  
  #footer {
    position: fixed;
    width: 100%;
    height: 0px;
    background-color: black; 
    bottom: 0; 
    left: 0;
}

#text-container {
    position: absolute;
    top: 0;
    padding: 10;
    padding-bottom: 10;
    right: 8;
    text-align: center;
   background-color:  #429dca;
height: 100%;
width: 24%;
border: 1px solid black;
}

#imageAndText {
  position: relative;
  height: 84%;
  margin-left: 10px;
  margin-top: 5px;
}

#text-container p {
  padding-top: 30;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#text-container h1 {
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
}

#hover-underline-animation {
    display: inline-block;
    position: relative;
    color: 
  #0087ca;
  transition: color 0.25s ease-out;
  }

  #hover-underline-animation:hover {
    color: #0087ca;
}
  
  #hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: 
  #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   
  }
  
  #hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }

  #button-menu {
    text-align: center;
  }

  .active-file-button {
    color: #0087ca !important; 
  }

  .file-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    transition: color 0.25s ease-out;
  }

  .file-button:hover {
    color: #0087ca;
  }

  #code-file-block {
    margin: auto;
    width: 80%;
    box-shadow: 5px 5px 8px black;
   
  }

  .code-file {
    display: none;
    size: 100%;
  }

  #card {
    width: 301px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgb(175, 23, 23);
  }
  
  #more-text {
    position: absolute;
    top: 10px;
    right: 10px;
    
  }
  
  #hiddenImg {
    display: block;
   width: 50%;
  }

  #btn-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .img-fluid {
    animation: fadeOut 1s ease;
  }
  .card-text {
    animation: fadeIn 1s ease;
    display: none;
  }

  /* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.center {
  margin: auto;
  width: 75%;
  padding: 10px;
  margin-top: 160;
  font-size: 20;
}
